::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    border-radius: 0.25rem;
    box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
}

::-webkit-scrollbar-thumb {
    border-radius: 0.25rem;
    background-color: var(--bs-primary);
}

.truncated-text {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limiter à 2 lignes */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}*/

.balance {
    text-wrap: balance;
}

.pagination {
    margin-bottom: 0;
}

#delete-button {
    border-radius: 0 0.25rem 0.25rem 0;
}
